<!DOCTYPE html>
<html>
<head>
  <title>Oscar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  
  <header>
    <div class="logo">
      <a href="index.html"><img src="/assets/logo.png" title="Magnetic" alt="Magnetic"/></a>
    </div><!-- end logo -->

    <div id=""></div>
    <nav>
      <ul>
        <li><a href="index.html" class="selected">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </nav><!-- end navigation menu -->

    <div class="footer clearfix">
      <div class="rights">
        <p>Copyright © 2014 Oscaromkar</p>
      </div><!-- end rights -->
    </div ><!-- end footer -->
  </header><!-- end header -->

   

<script>
  <% @categories.each do |category| %>
    jQuery('.<%= category %>').colorbox({rel:'<%= category %>', maxHeight: '100%'});
  <% end %>
</script>

</body>
</html>
