<!DOCTYPE html>
<html>
<head>
  <title>Oscar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= include_gon %>
  <%= csrf_meta_tags %>
</head>
<body>

  <section class="main clearfix">
    <%= yield %>
  </section>
  
  <header>
    <div class="logo">
      <a href="index.html"><img src="/assets/logo1.jpg" title="Oscar Omkar" alt="Oscar Omkar"/></a>
    </div><!-- end logo -->

    <div id=""></div>
    
    <nav>
      <ul>
        <%= menu_link 'Artwork',  root_path %>
        <%= menu_link 'Projects', projects_path %>
        <%= menu_link 'About',    about_path %>
        <%= menu_link 'Contact', 'mailto:oscaromkar@gmail.com', target: "_blank" %>
      </ul>
    </nav>

    <div class="footer clearfix">
      <div class="rights">
        <p>Copyright © 2014 Oscaromkar</p>
      </div>
    </div >
  </header>

</body>
</html>
