<!DOCTYPE html>
<html>
<head>
  <title>Oscar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script>
  <% @categories.each do |category| %>
    jQuery('.<%= category %>').colorbox({rel:'<%= category %>', maxHeight: '100%'});
  <% end %>
</script>

</body>
</html>
